<div class="container">
  <div [hidden]="submitted">
    <div class="ang-form">
      <span class="angular"></span>
      <span class="ang-text">Template Driven Forms</span>
    </div>
    <form (ngSubmit)="onSubmit(model)" #templateForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user text-muted"></span>
          </span>
          <input autocomplete="off" type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" placeholder="Minimum 5 charaters"
            #name="ngModel" minlength="5">
          <div [hidden]="name.valid || name.prestine" class="alert alert-danger">
            Please enter your name (Minimum 5 characters)!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="message">{{text}}</label>
        <div class="input-group input-group-lg pd-top">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-edit text-muted"></span>
          </span>
          <input type="text" class="form-control" id="textMessage" [(ngModel)]="model.textMessage" name="textMessage">
        </div>
      </div>

      <div class="form-group">
        <label for="myEmails">{{emailAddress}}</label>
        <div class="input-group input-group-lg pd-top">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope text-muted"></span>
          </span>
          <select class="form-control" id="myEmails" required [(ngModel)]="model.myEmails" name="myEmails" #myEmails="ngModel">
            <option *ngFor="let mls of emails" [value]="mls">{{mls}}</option>
          </select>
          <div [hidden]="myEmails.valid" class="alert alert-danger">
            Invalid e-mail address. Please try again (yourname@example.com)
          </div>
        </div>
      </div>
      <button type="submit" class="button" [disabled]="!templateForm.form.valid">Submit</button>
    </form>
  </div>

  <div *ngIf="submitted">
    <div class="container">
      <div class="sim-server">
        <div class="ang-form">
          <span class="angular"></span>
          <span class="ang-text">Template Driven Forms</span>
        </div>
        <div class="sim-lnk">
          <strong>Mocking server</strong>
        </div>
        <p>
          <span class="font-weight-bold">Name: </span>{{titleRes}}</p>
        <p>
          <span class="font-weight-bold">Message: </span>{{textRes}}</p>
        <div>
          <span class="font-weight-bold">Email: </span> {{emailAddressRes}}</div>
        <button class="sim-lnk">
          <a href="http://localhost:4200/">Return to form</a>
        </button>
      </div>
    </div>
  </div>
</div>